
.o__view-wrap {
  position: relative;
  border: 1px solid #E6E6E6;
  width: 100%;
  height: 120px;
  background-color: #fff;
  border-radius: 4px;
  color: #666;

}

.repo__view-wrap {
    position: relative;
    border: 1px solid #E6E6E6;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    color: #666;
}
.o__view-wrap li:hover, .repo__view-wrap li:hover {
  color: #428bca;
  cursor: pointer;
}
.repo__view-wrap li:hover {
   background-color: #eee;
}

.repo__view-wrap li:hover > .name{
    /*text-decoration: underline;*/
}
.username {
  position: absolute;
  top: 8px;
  left: 75px;
}

.o__view-wrap div, .repo__view-wrap div {
  width: 100%;
  height: 60px;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #e6e6e6;
}
.o__span:before, .repo__span:before {
  position: absolute;
  content:"Gists";
}

.o__view-wrap li {
  width: 100px;
  text-align: center;
  display: inline-block;
  padding: 30px 0px 10px 0px;
  border-left: 1px solid #e6e6e6;
}

 .repo__view-wrap li {
    font-size: 14px;
    padding: 5px 0px 5px 0px;
    border-top: 1px solid #e5e5e5;
}
.octicon.octicon-repo.icon, .octicon.octicon-repo-forked.icon {
  color: #666;
    text-decoration: none;
}
a {
  text-decoration: none;
}
a li span.name {
    color: #428bca;
    text-decoration: none;
}
 .__0, .__1, .__2{
  position: absolute;
  top: 10px;
 }

 .__0 {
  top: 65px;
  left: 27px;
 }

 .__1 {
  top: 65px;
  left: 137px;
 }

 .__2 {
  top: 65px;
  left: 217px;
 }

ul.o__ul, ul.repo__ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  padding: 3px;
  border: 1px solid #e6e6e6;
  margin: 7px 0 0 17px;
}

.header::after {
  position: absolute;
  content: "GitHub Profile";
  font-family: "Helvetica",Arial,sans-serif;
  font-size: 1.2em;
  font-weight: bold;  
  left: 75px;
  top: 28px;
}

.header-repo::after {
    position: absolute;
    content: "GitHub Repositories";
    font-family: "Helvetica",Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    left: 75px;
    top: 28px;

}
span.icon {
    padding-left: 20px;
    padding-right: 10px;
    color:;

}
.lang {
    color: #444;
    float:right;
    padding-right: 20px;
}